{%extends 'base.html'%}
{% load widget_tweaks %}
{%block title%} <p>'Regidurias'</p> {%endblock%}

{%block extrahead%}
    <meta name="description" content=''/>
    <meta name='keywords' content=''/>
    <meta property="og:url"                content=" " />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="observatorio de regidurías" />
{%endblock%}

{%block content%}
<style>


.card {
  width: 450px;
  height: 250px;
  background-color: #000;
  background: linear-gradient(#000, #000);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 1rem;
  padding-top: 0;
  border-color: #d9e022;
  border-radius: 30px;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.more-info{
      color: #D91C5C;
      font-size:16px;
      font-family: 'Montserrat';
      text-align: center;
   }
.user-card {
  width: 150px;
  height: 150px;
  border-color: #d9e022;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  position: relative;
  margin-top: 5%;
  float: left;
}


</style>
<form method="get">
    <div class="well">
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.genero.label_tag }}
          {% render_field filter.form.genero class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.partido.label_tag }}
          {% render_field filter.form.partido class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.comision_1.label_tag }}
          {% render_field filter.form.comision_1 class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3" style="margin-top:30px;">
          <button type="submit" class="btn " style="background-color: #D91C5C; color: #fff;">
            <span class="glyphicon glyphicon-search"></span> Buscar
          </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br>

<div class="">
  
      {% for regidurias in filter.qs %}
      <div>
<a href='{%url 'regidor' regidurias=regidurias.slug %}'>
        <div class="card">
          <div class="additional">
              <img class='user-card' src='{{regidurias.foto.url}}'>
           
            <div class="more-info" style="color: #D91C5C;">
              <h3 style="margin-top:5%;">{{regidurias.nombre}} {{regidurias.apellido_paterno}}</h3>
              <div class="more-info">
                <span>{{ regidurias.partido }}</span>
              </div>
              <div class="more-info">
                <span>{{ regidurias.twitter }}</span>
              </div>
        </div>
      
      </div>
        </div>

    </a>     
      {% empty %}
    
        
        
      {% endfor %}
    </div>
{%endblock%}