{%extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}
{%block title%} <p>'Regidurias'</p> {%endblock%}

{%block extrahead%}
    <meta name="description" content=''/>
    <meta name='keywords' content=''/>
    <meta property="og:url"                content=" " />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="observatorio de regidurías" />
{%endblock%}

{%block content%}
<style>


.card {
  width: 475px;
  height: 265px;
  background-color: #000;
  background: linear-gradient(#000, #000);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 1rem;
  padding-top: 0;
  border-color: #d9e022;
  border-radius: 30px;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.more-info{
      color: #D91C5C;
      font-size:16px;
      font-family: 'Montserrat';
      text-align: center;
   }
.user-card {
  width: 150px;
  height: 150px;
  border-color: #d9e022;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  position: relative;
  margin-top: 5%;
  float: left;
}


</style>
<form method="get">
    
      <div class="row" style="margin-top:3%;">
        <div class="form-group col-sm-4 col-md-2" style="margin-left:20%; font-family: 'Montserrat';">
          {{ filter.form.genero.label_tag }}
          {% render_field filter.form.genero class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-2" style="font-family: 'Montserrat';">
          {{ filter.form.partido.label_tag }}
          {% render_field filter.form.partido class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-2" style="font-family: 'Montserrat';">
          {{ filter.form.comision_1.label_tag }}
          {% render_field filter.form.comision_1 class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3" style="margin-top:30px;">
          <button type="submit" class="btn " style="background-color: #D91C5C; color: #fff;">
            <span class="glyphicon glyphicon-search"></span> Buscar
          </button>
          </div>
      
  </form>
  <br>
  {% for regidurias in filter.qs %}

  
        <div class="card" style="margin-left:6%;">
          <div class="additional">
            
              <span>
                {%if regidor.foto%}
                <img class="foto" src='{{regidor.foto.url}}'>
                {%else%}
                <img class="foto" src="{% static "img/user-icon.png" %}" '>
                {%endif%}
              </span>
              <div class="more-info" style="color: #D91C5C;">
              <h4>{{regidurias.nombre}} {{regidurias.apellido_paterno}}</h4>
              <div class="more-info">
                <span>{{ regidurias.partido }}</span>
                {%if regidurias.status == '2' %}
                    <div id="container-social-networks" style="width:100%; z-index:1">
                          {% if regidurias.facebook %} 
                          <a href="{{regidurias.facebook}}" target="_blank" style=" text-decoration:none;">
                            <img src="{% static "img/facebook.png" %}" style="width: 40px; height: 40px; ">
                          </a> 
                              {% endif %}

                          {% if regidurias.instagram%} 
                          <a href="{{regidurias.instagram}}" target="_blank" style=" text-decoration:none;"> 
                            <img src="{% static "img/instagram.png" %}" style="width: 40px; height: 40px;"> 
                          </a> {% endif %}

                          {% if regidurias.twitter%} 
                          <a href="{{regidurias.twitter}}" target="_blank" style=" text-decoration:none;"> 
                            <img src="{% static "img/gorjeo.png" %}" style="width: 40px; height: 40px;">
                          </a> 
                          {% endif %}
                {%endif%}
              </div>
        
        </div>
       
      </div>
      <a  style="color: #D91C5C; text-decoration:none; width: 10px; height: 10px; text-align:right;" href="{% url 'regidor:regidor' slug=regidurias.slug %}">VER MÁS</a>
        </div>
      </div>

        
      {% empty %}
    
        
        
      {% endfor %}
    
{%endblock%}