{%extends 'base.html'%}


{%block title%} <p>'Sesiones Cabildo'</p> {%endblock%}

{%block extrahead%}
    <meta name="description" content=''/>
    <meta name='keywords' content=''/>
    <meta property="og:url"                content=" " />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="observatorio de regidurías" />
{%endblock%}

{%block content%}

{%for cabildos in cabildo%}       
                    <table>
                        <tr>
                        {{cabildos.entidad}}
                        </tr>
                        <tr>
                        {{cabildos.municipio}}
                        </tr>
                        <tr>
                        {{cabildos.ayuntamiento}}
                        </tr>
                        {%if cabildos.tipo_de_sesion == '1'%}
                        <tr>
                        Solemne
                        </tr>
                        {%elif cabildos.tipo_de_sesion == '2'%}
                        <tr>
                        Ordinaria
                        </tr>
                        {%else%}
                        <tr>
                        Extraordinaria
                        </tr>
                        {%endif%}
                        {%if cabildos.modalidad == '1'%}
                        <tr>
                        Presencial
                        {%else%}
                        <tr>
                        Virtual
                        </tr>
                        {%endif%}
                        <tr>
                        {{cabildos.actas}}
                        </tr>
                        



                    </table>
                {%endfor%}
{%endblock%}
