{%extends 'base.html'%}
{% load widget_tweaks %}
{% load static %}
{%block title%} <p>'Sesiones Cabildo'</p> {%endblock%}

{%block extrahead%}
    <meta name="description" content=''/>
    <meta name='keywords' content=''/>
    <meta property="og:url"                content=" " />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="observatorio de regidurías" />
{%endblock%}
{% block content %}
<style>
  
h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #D91C5C;
  font-family: 'Montserrat';
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #D91C5C;
  text-decoration: none;
}



.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 90%;
	  margin: 0 auto;
  display: table;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #010101;
    color: #fffefe;
    font-family: 'Montserrat';
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #050505;
    font-family: 'Montserrat';
}

.container th {
	  background-color: #D91C5C;
    font-family: 'Montserrat';

}

.container td:first-child { color: #D91C5C; }

.container tr:hover {
   background-color: #000000;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
          font-family: 'Montserrat';
}

.container td:hover {
  background-color: #d9e022;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
</style>
<form method="get">
    <div>
      <div class="row" style="margin-top:3%;">
        <div class="form-group col-sm-4 col-md-2" style="margin-left:20%; font-family: 'Montserrat';">
          {{ filter.form.entidades.label_tag }}
          {% render_field filter.form.entidades class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-2"style=" font-family: 'Montserrat';" >
          {{ filter.form.municipio.label_tag }}
          {% render_field filter.form.municipio class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-2" style="font-family: 'Montserrat';">
          {{ filter.form.tipo_de_sesion.label_tag }}
          {% render_field filter.form.tipo_de_sesion class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3" style="margin-top:30px; font-family: 'Montserrat';">
          <button type="submit" class="btn " style="background-color: #D91C5C; color: #fff;">
            <span class="glyphicon glyphicon-search"></span> Buscar
          </button>
          </div>
      </div>
      
    </div>
  </form>
  <table class="container" style="margin-bottom:30px;">
    <thead>
      <tr>
        <th>Ayuntamiento</th>
        <th>Tipo de sesión</th>
        <th>Modalidad</th>
        <th>Acta</th>
      </tr>
    </thead>
    <tbody>
      {% for cabildo in filter.qs %}
        <tr>
          <td>{{ cabildo.ayuntamiento }}</td>
          {%if cabildo.tipo_de_sesion == '1' %}
          <td> Solemne</td>
          {%elif cabildo.tipo_de_sesion == '2' %}
          <td> Ordinaria</td>
          {%else %}
          <td> Extraordinaria</td>
          {% endif %}
          {%if cabildo.modalidad == '1' %}
          <td>Presencial</td>
          {%else %}
          <td>Virtual</td>
          {% endif %}
          {%if cabildo.actas%}
          <td><a style="color: #D91C5C;" href="{{  cabildo.actas.url }}" download><h5>Descargar</h5></a></td>
            {%else%}
          <td><h5>No hay Actas</h5></td>
          {%endif%}
         
          
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
                        



                
{%endblock%}
