{%extends 'base.html'%}
{% load widget_tweaks %}

{%block title%} <p>'Sesiones Cabildo'</p> {%endblock%}

{%block extrahead%}
    <meta name="description" content=''/>
    <meta name='keywords' content=''/>
    <meta property="og:url"                content=" " />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="observatorio de regidurías" />
{%endblock%}

{%block content%}
<form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.entidades.label_tag }}
          {% render_field filter.form.entidades class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.municipio.label_tag }}
          {% render_field filter.form.municipio class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.fecha.label_tag }}
          {% render_field filter.form.fecha class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Date joined</th>
      </tr>
    </thead>
    <tbody>
      {% for cabildo in filter.qs %}
        <tr>
          <td>{{ cabildo.entidades }}</td>
          <td>{{ cabildo.ayuntamiento }}</td>
          <td>{{ cabildo.modalidad }}</td>
          <td>{{ cabildo.actas }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
                        



                
{%endblock%}
