{%block extramenu%}
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'regidurias' %}">Regidurías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'sesion_cabildo' %}">Sesiones Cabildo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'normatividad' %}">Normatividad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'presupuesto' %}">Presupuesto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'preguntas' %}">Preguntas Frecuentes</a>
        </li>
      </ul>
{%endblock%}
              {%block content%}
              {%endblock%}